<% unless @data[:current_member] %>
  <div class="mask">
    <p class="text-center"><%= t('.warning', frontend_url: ENV['FRONTEND_ROOT_URL'], frontend_auth_url: ENV['FRONTEND_AUTH_URL']).html_safe %></p>
  </div>
<% end %>
